services:
  servicea:
    ports:
      - "8000:8000"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SERVICE_NAME=Service A
      - PEER_URL=http://serviceb:8000/relay
    networks:
      - default

  serviceb:
    ports:
      - "8001:8000"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SERVICE_NAME=Service B
      - PEER_URL=http://servicea:8000/relay
    networks:
      - default

networks:
  default:
    driver: bridge
